In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Fraud_check.csv")

In [3]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [4]:
df=pd.get_dummies(data,drop_first=True)

In [5]:
bins=[0,30000,200000]
group_names=['Risky','Good']
df['Taxable.Income']=pd.cut(df['Taxable.Income'],bins,labels=group_names)

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

df['Taxable.Income']= le.fit_transform(df['Taxable.Income'])

In [7]:
df.head()

,Taxable.Income,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES
0,0,50047,10,0,0,1,1
1,0,134075,18,1,0,0,1
2,0,160205,30,0,1,0,1
3,0,193264,15,1,0,1,1
4,0,27533,28,0,1,0,0

In [8]:
X=df.iloc[:,1:]
y=df.iloc[:,0]

In [9]:
from sklearn import preprocessing

p = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(p)
scaled_df = pd.DataFrame(x_scaled,columns= ['Tax','CityPop','Exp','Undergrad_YES','Married','Single','Urban_YES'])

In [10]:
scaled_df.head()

   Tax   CityPop       Exp  Undergrad_YES  Married  Single  Urban_YES
0  0.0  0.139472  0.333333            0.0      0.0     1.0        1.0
1  0.0  0.622394  0.600000            1.0      0.0     0.0        1.0
2  0.0  0.772568  1.000000            0.0      1.0     0.0        1.0
3  0.0  0.962563  0.500000            1.0      0.0     1.0        1.0
4  0.0  0.010081  0.933333            0.0      1.0     0.0        0.0

In [11]:
from sklearn.model_selection import train_test_split
#from sklearn.tree import  RandomForestClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
final_df = pd.concat([scaled_df, df['Taxable.Income']],axis=1)

In [14]:
final_df.head()
final_df_new=final_df.iloc[:,1:]

In [15]:
final_df_new.head()

,CityPop,Exp,Undergrad_YES,Married,Single,Urban_YES,Taxable.Income
0,0.139472,0.333333,0.0,0.0,1.0,1.0,0
1,0.622394,0.600000,1.0,0.0,0.0,1.0,0
2,0.772568,1.000000,0.0,1.0,0.0,1.0,0
3,0.962563,0.500000,1.0,0.0,1.0,1.0,0
4,0.010081,0.933333,0.0,1.0,0.0,0.0,0

In [37]:
q=final_df_new['Taxable.Income'].to_numpy()
s=pd.Series(q)
s.value_counts()

0    476
1    124
dtype: int64

In [16]:
X1=final_df_new.iloc[:,:-1]
y1=final_df_new.iloc[:,-1]

In [54]:
model_rf = RandomForestClassifier(max_depth=2, random_state=0)

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.33, random_state=42)
model_rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [56]:
preds=model_rf.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,preds)

0.7929292929292929